:root {
  --primary-color: #0c584b;
  --text-primary: #000000;
  --text-secondary: #808080;
  --background-color: #ffffff;
  --card-border-color: #e0e0e0;
  --font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-primary);
  max-width: 440px;
  margin: 0 auto;
  position: relative;
}

.container {
  padding: 1.5rem 1rem;
  padding-bottom: 6rem;
  /* Space for the bottom nav */
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

main {
    flex-grow: 1;
}

.notification {
    background-color: #e9e9e2;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.notification-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-body {
    display: flex;
    align-items: center;
}

.notification-body .material-symbols-outlined {
    font-size: 20px;
    margin-right: 10px;
}

.notification-body p {
    margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
  padding: 0;
  /* Handled by bottom-nav */
  border-top: 1px solid var(--card-border-color);
  max-width: 440px;
  margin: 0 auto;
  z-index: 5;
  /* Below FAB */
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0.5rem 0.5rem;
  /* Increased vertical padding from 0.5rem to 1rem */
  width: 100%;
  box-sizing: border-box;
  /* Include padding in width */
  height: 80px;
  position: relative;
}

.nav-section {
  display: flex;
  justify-content: space-around;
  flex: 1;
}



.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  color: var(--text-secondary);
}

.nav-item.active {
  color: var(--primary-color);
}

.nav-item p {
  margin: 0;
  font-size: 0.75rem;
}

.fab {
  background-color: var(--primary-color);
  color: white;
  width: 50px;
  /* Reduced width */
  height: 50px;
  /* Reduced height */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 4px solid white;

  /* Fixed positioning */
  position: absolute;
  left: 52%;
  top: -5;
  bottom: 60px;
  /* Adjusted to align with the top of the bottom navigation bar */
  transform: translateX(-50%);
  z-index: 10;
  /* Ensure it's above other elements */
}

.fab .material-symbols-outlined {
  font-size: 28px;
  /* Reduced icon size */
}